@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;    
  list-style: none;
  text-decoration: none;
}

:root {
  --red: #f29ee2;
  --white: #ffffff;
  --dark: #1e1c2a;
}

body {
  color: var(--dark);
  background: white;


/* Event form */
#event-subscription {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/imagens/Groom-And-Bride-PNG-Picture.png");
  background-position: center;  
  height: 90vh;
  display: flex;
  justify-items: flex-end;
  align-items: center;
  color: var(--red);
  
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
  margin-left: 400px;
}

#disclaimer h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

#disclaimer .about-event {
  font-size: 2em;
  text-transform: uppercase;
  max-width: 350px;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 400px;
}

#disclaimer p {
  font-size: 1.2em;
  margin-bottom: 0.3em;
  margin-left: 400px;
}

#disclaimer .event-date {
  font-weight: bold;
  margin-left: 400px;
}

#subscription-form {
  background-color: var(--secondary);
  padding: 2em;
  max-width: 22%;
}

#subscription-form p {
  font-size: 1.5em;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.form-group label {
  color: var(--text-tertiary);
  margin-bottom: 0.3em;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 6px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn {
  background-color: var(--primary);
  color: var(--text-color);
  text-transform: uppercase;
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}



/* Benefits section */
#key-benefits h2 {
  background-color: var(--secondary);
  text-align: center;
  padding: 2em;
  font-weight: 500;
}

.benefits {
  display: flex;
  justify-content: space-around;
  padding: 4em;
  width: 80%;
  margin: 0 auto;
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  color: var(--text-tertiary);
}

.benefit .benefit-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

#benefit-1 {
  background-image: url("/imagens/chacaraaguaclara.jpg");
}

#benefit-2 {
  background-image: url("/imagens/MaiaraFernando.jpg");
}

#benefit-3 {
  background-image: url("/imagens/paroquiasenhorbomjesus.jpg");
}

/* Event location */
#location {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../img/hrz-1.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--text-color);
  margin-bottom: 3em;
}

#address,
#about-location {
  max-width: 30%;
}

#address {
  display: flex;
}

#address i {
  color: var(--primary);
  font-size: 4em;
  margin-right: 0.5em;
}

#address-details {
  text-align: center;
  font-size: 1.3em;
}

#about-location h3 {
  color: var(--primary);
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#about-location p {
  line-height: 1.5em;
}



@media (max-width: 393px) {
  .navigation {
      padding: 18px 20px;
  }
  .menu {
      display: block;
  }
  .menu.ativo .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }
  .menu.ativo .bar:nth-child(2) {
      opacity: 0;
  }
  .menu.ativo .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
      position: fixed;
      justify-content: flex-start;
      right: -100%;
      top: 70px;
      width: 100%;
      height: 100%;
      flex-direction: column;
      background: var(--white);
      gap: -10px;
      transition: 0.3s;
  }
  .nav-menu.ativo {
      right: 0;
  } 
  .nav-item {
      margin: 16px 0;
  }

  /*main*/

  .home {
      padding: 100px 2%;
      flex-direction: column;
      text-align: center;
      overflow: hidden;
      gap: 5rem;
      justify-content: center;
      
    
  }  

}