@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;    
  list-style: none;
  text-decoration: none;
}

:root {
  --red: #f29ee2;
  --white: #ffffff;
  --dark: #1e1c2a;
}

body {
  color: var(--dark);
  background: white;
}

/* Event form */
#event-subscription {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/imagens/Groom-And-Bride-PNG-Picture.png");
  background-position: auto;  
  background-size: cover;
  height: 90vh;
  width: auto;
  display: flex;
  margin-top: 60px;
  align-items: center;
  color: var(--red);
  flex-direction: column;
  
}

#disclaimer h2,
#disclaimer .event-date {
  color: var(--primary);
  margin-left: 400px;
  margin-top: 70px;
}

#disclaimer h2 {
  font-size: 3em;
  margin-bottom: 1em;
}

#disclaimer .about-event {
  font-size: 2em;
  text-transform: uppercase;
  max-width: 350px;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 400px;
}

#disclaimer p {
  font-size: 1.2em;
  margin-bottom: 0.3em;
  margin-left: 400px;
}

#disclaimer .event-date {
  font-weight: bold;
  margin-left: 400px;
}

#subscription-form {
  background-color: var(--secondary);
  padding: 2em;
  max-width: 22%;
}

#subscription-form p {
  font-size: 1.5em;
  color: var(--text-secondary);
  margin-bottom: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.8em;
}

.form-group label {
  color: var(--text-tertiary);
  margin-bottom: 0.3em;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 6px 8px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.btn {
  background-color: var(--primary);
  color: var(--text-color);
  text-transform: uppercase;
  width: 100%;
  padding: 12px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}



/* Benefits section */
#key-benefits h2 {
  background-color: var(--secondary);
  text-align: center;
  padding: 2em;
  font-weight: 500;
}

.benefits {
  display: flex;
  justify-content: space-around;
  padding: 4em;
  width: 80%;
  margin: 0 auto;
}

.benefit {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20%;
  color: var(--text-tertiary);
}

.benefit .benefit-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-bottom: 1em;
}

#benefit-1 {
  background-image: url("/imagens/chacaraaguaclara.jpg");
}

#benefit-2 {
  background-image: url("/imagens/MaiaraFernando.jpg");
}

#benefit-3 {
  background-image: url("/imagens/paroquiasenhorbomjesus.jpg");
}

/* Event location */
#location {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/imagens/paroquiasenhorbomjesus.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: var(--red);
  margin-bottom: 3em;
}

#address,
#about-location {
  max-width: 30%;
}

#address {
  display: flex;
}

#address i {
  color: var(--red);
  font-size: 4em;
  margin-right: 0.5em;
}

#address-details {
  text-align: center;
  font-size: 1.3em;
}

#about-location h3 {
  color: var(--red);
  font-size: 2.5em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

#about-location p {
  line-height: 1.5em;
}






p {
  line-height: 1.5;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Cards */
.card-column {
  width: 50%;
  float: left;
  padding: 4%;
  box-sizing: border-box;
}

.column-1 {
  padding-top: 100px;
}

.card {
  width: 92%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background: #EB5160;
  color: #fff;
  cursor: pointer;
  margin-bottom: 60px;
}

.border {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 6px;
  border: 1px solid #fff;
  opacity: 0.5;
  left: -6px;
  top: -6px;
}

.card h1 {
  position: relative;
  padding: 190px 0px 100px 10px;
  width: 90%;
}

.card > img {
  width: 90%;
  position: absolute;
  top: -6%;
  left: -6%;
}

.card-color-0 {
  background-color: #EB5160;
}

.card-color-1 {
  background-color: #8F3985;
}

.card-color-2 {
  background-color: #8DAA91;
}

.card-color-3 {
  background-color: #888DA7;
}

/* The cover (expanding background) */
.cover {
  position: fixed;
  background: var(--red);
  z-index: 100;
  transform-origin: 50% 50%;
}

/* The open page content */
.open-content {
  width: 100%;
  z-index: 110;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.open-content img {
  position: relative;
  width: 90%;
  margin-left: 3%;
  margin-top: 20px;
  z-index: 5;
}

.open-content .text {
  background: #fff;
  margin-top: -56%;
  padding: 60% 5% 5% 5%;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 5%;
}

.open-content .text h1, .open-content .text p {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.close-content {
  display: block;
  position: absolute;
  right: 12px;
  top: 12px;
  width: 30px;
  height: 30px;
}

.close-content span {
  background: #222;
  width: 30px;
  height: 6px;
  display: block;
  position: absolute;
  top: 14px;
}

.x-1 {
  transform: rotate(45deg);
}

.x-2 {
  transform: rotate(-45deg);
}

/* 
** Transitions
*/

.card {
  transition: opacity 200ms linear 320ms, transform 200ms ease-out 320ms;
}

.border {
  transition: opacity 200ms linear, transform 200ms ease-out;
}

.card img {
  transition: opacity 200ms linear 0ms, transform 200ms ease-in 0ms;
}

.card h1 {
  transform: translate3d(20%, 0px, 0px);  
  transition: opacity 200ms linear 120ms, transform 200ms ease-in 120ms;
}

/* Clicked card */
.card.clicked img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
}

.card.clicked .border {
  opacity: 0;
  transform: scale(1.3);
}

.card.out, .card.out img {
  transform: translate3d(0px, -40px, 0px);
  opacity: 0;
}

.card.out h1, .card.clicked h1 {
  transform: translate3d(20%, -40px, 0px);
  opacity: 0;
}

.cover {
  transition: transform 300ms ease-in-out;
}

.open-content {
  transition: opacity 200ms linear 0ms;
}

.open-content.open {
  opacity: 1;
  pointer-events: all;
  transition-delay: 1000ms;
}

/* 
** Media Queries
*/





/* Mobile */
@media screen and (max-width: 600px) {
  .card-column {
    width: 90%;
  }
  
  .column-1 {
    padding-top: 0px;
  }
  
  .open-content img {
    margin-top: 40px;
  }

  
  /* Event form */
  #event-subscription {
    flex-direction: column;
    height: auto;
  }

  #disclaimer {
    padding: 2em;
  }

  #disclaimer h2 {
    margin-bottom: 0.5em;
  }

  #subscription-form {
    max-width: 70%;
    margin-bottom: 2em;
  }

  /* Benefits section */
  .benefits {
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2em;
  }

  .benefit {
    max-width: 100%;
    margin-bottom: 2em;
  }

  /* Event location */
  #location {
    flex-direction: column;
    height: auto;
    text-align: center;
    padding: 2em 0;
  }

  #address {
    order: 2;
    flex-direction: column;
    max-width: 100%;
  }

  #address i {
    margin: 0.3em 0;
  }

  #about-location {
    order: 1;
    max-width: 100%;
  }

  #about-location h3 {
    margin-bottom: 0;
  }

  #about-location p {
    display: none;
  }

  /* Event details container */
  .detail {
    flex-direction: column;
    margin-bottom: 0.5em;
    gap: 0;
  }

  .detail img {
    width: 100%;
    margin: 2em 0;
  }

  #detail-1 img {
    display: none;
  }

  .detail-description {
    padding: 0;
  }

  #detail-3 img {
    order: 2;
  }

  #detail-3 .detail-description {
    order: 1;
  }

  /* Call to Action Section */
  #cta .btn {
    width: 80%;
  }
}